<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - RouteSync</title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
</head>
<body class="bg-background text-foreground">
    <div class="flex min-h-screen w-full flex-col bg-muted/40">
        <%- include('../partials/sidebar') %>
        <div class="flex flex-col sm:gap-4 sm:py-4 sm:pl-64">
            <%- include('../partials/header') %>
            <main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8">
                <%- body %>
            </main>
        </div>
    </div>
</body>
</html>